


{% extends "layout.html" %}
{% block main %}

<h1>About</h1>
<h2>Team:</h2>
<p>Kulthom Aboali</p>
<p>Nolan Gage</p>
<p>Corwin Stout</p>
<br>
<p>
For our term project we plan to create a web-based application for playing the 
classic card game Euchre. We chose this project because card games provide a very 
clear user-system relationship, use of a graphical interface, a balanced need of 
front-end and back-end development, and a result that is easy to demonstrate and 
hopefully enjoy. 
</p> 
	
{% endblock %}
