<!-- <!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/Euchre.png">
    <link rel="stylesheet" href="../static/styles/main.css">
    
</head>
<body style="width: 50%"> -->

{% extends "layout.html" %}
{% block body %}

<h1>About</h1>
<p>
	Team: 
<ul>
  <li>Kulthom Aboali</li>
  <li>Nolan Gage</li>
  <li>Corwin Stout</li>
  </ul>
For our term project we plan to create a web-based application for playing the 
classic card game Euchre. We chose this project because card games provide a very 
clear user-system relationship, use of a graphical interface, a balanced need of 
front-end and back-end development, and a result that is easy to demonstrate and 
hopefully enjoy. 
</p>
  <button onclick="goBack()">Go Back</button>
  <script>
	function goBack() {
	    window.history.back();
	}
  </script> 
</body>

{% endblock %}


<!-- <footer>
      &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
</footer>
</html> -->