{% extends "layout.html" %}
{% block body %}
 

<div class="block1">
	<h1>Hello {{table.seats[0].name}}!</h1> 
	<h2>Do you want to go alone?</h2>
	<h3 id='info'></h3>
	<script>
		var suitArray = ["s","h","d","c"];
		var suitNameArray = ["Spades","Hearts","Diamonds","Clubs"];
		var trump = suitNameArray[suitArray.indexOf('{{table.trump}}')];

		var trumpCaller = '';
		if('{{table.seats[0].calledTrump}}' == 'True') trumpCaller = '{{table.seats[0].name}}';
		else if('{{table.seats[1].calledTrump}}' == 'True') trumpCaller = '{{table.seats[1].name}}';
		else if('{{table.seats[2].calledTrump}}' == 'True') trumpCaller = '{{table.seats[2].name}}';
		else if('{{table.seats[3].calledTrump}}' == 'True') trumpCaller = '{{table.seats[3].name}}';
		else trumpCaller = "error";
		$('info').innerHTML = 'Dealer: {{table.dealer.name}} | Trump: ' + trump + ' | ' + trumpCaller + ' called trump';
	</script>
	
	<button class='gameplay' onclick="post('/alone','g')">Yes</button>
	<button class='gameplay' onclick="post('/alone','n')">No</button>
	<p>
</div>
{% endblock %}