<!DOCTYPE html>
<html>
<head>
	<title>Euchre Login</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/Euchre.png">
    <link rel="stylesheet" href="../static/styles/main.css">
    
</head>
<body style="width: 30%">
<h1>Create an Account</h1>

<form method="post">
  User ID:<br>
  <input type="text" name="userID" value="" >
  {% if idErr %}
  <span class ="formError"> *{{idErr}}</span>
  {% endif %}
  <br><br>
  Email Address:<br>
  <input type="text" name="email" value="" >
  {% if emailErr %}
  <span class ="formError"> *{{emailErr}}</span>  
  {% endif %}
  <br><br>
  Password:<br>
  <input type="text" name="password" value="" >
  {% if pwErr %}
  <span class ="formError"> *{{pwErr}}</span>  
  {% endif %}
  <br><br>
  Confirm Password:<br>
  <input type="text" name="confirmPassword" value="" >
  {% if confErr %}
  <span class ="formError"> *{{confErr}}</span>  
  {% endif %}
  <br><br>
  Age:<br>
  <input type="number" name="age" value="" >
  {% if ageErr %}
  <span class ="formError"> *{{ageErr}}</span>  
  {% endif %}  
  <br><br>
  Country:<br>
  <input type="text" name="country" value="" >
  {% if locErr %}
  <span class ="formError"> *{{locErr}}</span>  
  {% endif %}
  <br><br>
  <button type="submit" >Create Account</button>

  <button onclick="goBack()">Go Back</button>
  <script>
	function goBack() {
	    window.history.back(); //this doesn't work right now
	}
  </script> 

  <!--<br><br>
  <input type="checkbox" checked="checked"> Remember me -->
</form> 

<p>Enjoy!</p>

</body>
<footer>
      &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
</footer>
</html>