{% extends "layout.html" %}
{% block body %}

	<h2>Pick a legal card</h2>
	<h3 id='dealer'></h3>
	<h3 id='trump'></h3>
	<h3 id='caller'></h3>
	<script>
		legalArray = {{legalArray}};
		console.log(legalArray);
		table.seats[0].pickCardToPlay(legalArray);

		var suitArray = ["s","h","d","c"];
		var suitNameArray = ["Spades","Hearts","Diamonds","Clubs"];
		var trump = suitNameArray[suitArray.indexOf('{{table.trump}}')];

		var trumpCaller = '';
		if('{{table.seats[0].calledTrump}}' == 'True') trumpCaller = '{{table.seats[0].name}}';
		else if('{{table.seats[1].calledTrump}}' == 'True') trumpCaller = '{{table.seats[1].name}}';
		else if('{{table.seats[2].calledTrump}}' == 'True') trumpCaller = '{{table.seats[2].name}}';
		else if('{{table.seats[3].calledTrump}}' == 'True') trumpCaller = '{{table.seats[3].name}}';
		else trumpCaller = "error";
		$('dealer').innerHTML = 'Dealer: {{table.dealer.name}}';
		$('trump').innerHTML = 'Trump: ' + trump;
		$('caller').innerHTML = trumpCaller + ' called trump';




	</script>

{% endblock %}