<!doctype html>

<html lang="en">
	
<head>
	
	<title>Euchre</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/Euchre.png">
    <link rel="stylesheet" href="../static/styles/main.css">
    
</head>
	
<body>
	
	<header>
		<img src="../static/images/Its-Euchre-time.jpg" alt="Euchre Game" width="1000">

    </header>
   
    <nav id="menu">
    	<ul>
    		<li><a href="login">Login</a></li>
    		<li><a href="rules">Rules</a></li>
            <li><a href="about">About</a></li>
    		<li><a href="score">Score</a></li>        
    	</ul>
    </nav>

	<main>
		
	</main>
    
<footer>
      &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
</footer>

</body>

</html>