<!doctype html>
<html lang="en">
	<head>
    	<title>Euchre</title>
    	<meta charset="utf-8">
    	<link rel="shortcut icon" href="../static/images/Euchre.png">
    	<link rel="stylesheet" href="../static/styles/main.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="static/styles/euchrestyle.css">
		<script src="{{url_for('static', filename='js/tableCreateAndStyle.js')}}"></script>
		<script src="{{url_for('static', filename='js/oop.js')}}"></script>
		<script src="{{url_for('static', filename='js/interfaceFunctions.js')}}"></script>
		
	</head>
	<body>
		<header>
			<img src="../static/images/Its-Euchre-time.jpg" alt="Euchre Game" width="1000">
			<button id="stopbtn"style="font-size:24px" class="fa">&#xf28d;</button>
			<button id="playbtn"style="font-size:24px" class="fa">&#xf144;</button>
			<nav id="menu">
		    	<ul>
		    		<li><a href="login">Login</a></li>
		    		<li><a href="rules">Rules</a></li>
		           	<li><a href="about">About</a></li>
		    		<li><a href="/">Start Play</a></li>
				    <li><a href="leaderboard">Leaderboard</a></li>         
		    	</ul>
		    </nav>
	    </header>

	<script>
		var audio;
		function audioplay(){
			audio = new Audio();
			audio.src = href= "../static/music.mp3";
			audio.loop = true;
			audio.play();
			stopbtn.addEventListener("click", stop);
			function stop(){
				audio.src="";
			}
			playbtn.addEventListener("click", play);
			function play(){
					audio.src =href= "../static/music.mp3";
			audio.loop = true;
			audio.play();
			}
		}
		window.addEventListener("load", audioplay);
	</script>
	
	<div id="game_table"></div>

	{% if showTable %}
	<script>
		createTable();
		styleTable();

		var nameArray = ['{{table.seats[0].name}}','{{table.seats[1].name}}','{{table.seats[2].name}}','{{table.seats[3].name}}'];
		var isHumanArray = [true,false,false,false];
		// var isHumanArray = [true,true,true,true];

		var p0handArray;
		var p1handArray;
		var p2handArray;
		var p3handArray;
		var handArrays;
		
		var p0zoneArray;
		var p1zoneArray;
		var p2zoneArray;
		var p3zoneArray;
		var centerZoneArray;
		var zoneArrays;
		
		if({{table.seats[0].handSize}} == 6) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}','{{table.seats[0].hand[3]}}','{{table.seats[0].hand[4]}}','{{table.seats[0].hand[5]}}'];
		else if({{table.seats[0].handSize}} == 5) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}','{{table.seats[0].hand[3]}}','{{table.seats[0].hand[4]}}'];
		else if({{table.seats[0].handSize}} == 4) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}','{{table.seats[0].hand[3]}}'];
		else if({{table.seats[0].handSize}} == 3) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}'];
		else if({{table.seats[0].handSize}} == 2) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}'];
		else if({{table.seats[0].handSize}} == 1) p0handArray = ['{{table.seats[0].hand[0]}}'];
		else p0handArray = [];

		if({{table.seats[1].handSize}} == 6) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}','{{table.seats[1].hand[3]}}','{{table.seats[1].hand[4]}}','{{table.seats[1].hand[5]}}'];
		else if({{table.seats[1].handSize}} == 5) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}','{{table.seats[1].hand[3]}}','{{table.seats[1].hand[4]}}'];
		else if({{table.seats[1].handSize}} == 4) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}','{{table.seats[1].hand[3]}}'];
		else if({{table.seats[1].handSize}} == 3) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}'];
		else if({{table.seats[1].handSize}} == 2) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}'];
		else if({{table.seats[1].handSize}} == 1) p1handArray = ['{{table.seats[1].hand[0]}}'];
		else p1handArray = [];

		if({{table.seats[2].handSize}} == 6) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}','{{table.seats[2].hand[3]}}','{{table.seats[2].hand[4]}}','{{table.seats[2].hand[5]}}'];
		else if({{table.seats[2].handSize}} == 5) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}','{{table.seats[2].hand[3]}}','{{table.seats[2].hand[4]}}'];
		else if({{table.seats[2].handSize}} == 4) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}','{{table.seats[2].hand[3]}}'];
		else if({{table.seats[2].handSize}} == 3) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}'];
		else if({{table.seats[2].handSize}} == 2) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}'];
		else if({{table.seats[2].handSize}} == 1) p2handArray = ['{{table.seats[2].hand[0]}}'];
		else p2handArray = [];

		if({{table.seats[3].handSize}} == 6) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}','{{table.seats[3].hand[3]}}','{{table.seats[3].hand[4]}}','{{table.seats[3].hand[5]}}'];
		else if({{table.seats[3].handSize}} == 5) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}','{{table.seats[3].hand[3]}}','{{table.seats[3].hand[4]}}'];
		else if({{table.seats[3].handSize}} == 4) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}','{{table.seats[3].hand[3]}}'];
		else if({{table.seats[3].handSize}} == 3) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}'];
		else if({{table.seats[3].handSize}} == 2) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}'];
		else if({{table.seats[3].handSize}} == 1) p3handArray = ['{{table.seats[3].hand[0]}}'];
		else p3handArray = [];

		handArrays = [p0handArray, p1handArray, p2handArray, p3handArray];
		// console.log(handArrays);
		
		p0zoneArray = ['{{table.zones[0][0]}}'];
		p1zoneArray = ['{{table.zones[1][0]}}'];
		p2zoneArray = ['{{table.zones[2][0]}}'];
		p3zoneArray = ['{{table.zones[3][0]}}'];
		centerZoneArray = ['{{table.zones[4][0]}}'];

		zoneArrays = [p0zoneArray, p1zoneArray, p2zoneArray, p3zoneArray, centerZoneArray];
		// console.log(zoneArrays);

		trickArray = ['{{table.seats[0].tricksWon}}',
					  '{{table.seats[1].tricksWon}}',
					  '{{table.seats[2].tricksWon}}',
					  '{{table.seats[3].tricksWon}}'];

		pointArray = ['{{table.seats[0].points}}',
					  '{{table.seats[1].points}}',
					  '{{table.seats[2].points}}',
					  '{{table.seats[3].points}}'];			 
		
		table = new Table(nameArray, isHumanArray, handArrays, zoneArrays, trickArray, pointArray);

		
	</script>
	{% endif %}

	{% block body %}

	{% endblock %}

	<button onclick="post('/');">New Game</button>
	<footer>
		
	     &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
	</footer>
	

	</body>
</html>