<!doctype html>
<html lang="en">
	<head>
    	<title>Website</title>
		<script src="{{url_for('static', filename='js/tableCreateAndStyle.js')}}"></script>
		<script src="{{url_for('static', filename='js/oop.js')}}"></script>
		<script src="{{url_for('static', filename='js/interfaceFunctions.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="static/styles/euchrestyle.css">
	</head>
	<body>
	<div id="game_table"></div>
	<script>
		createTable();
		styleTable();

		var nameArray = ["adam","becky","carol","don"];
		var isHumanArray = [true,true,true,true];
		var dealerIndex = 0; //south
		
		var p0handArray;
		var p1handArray;
		var p2handArray;
		var p3handArray;
		var handArrays;
		
		var p0zoneArray;
		var p1zoneArray;
		var p2zoneArray;
		var p3zoneArray;
		var centerZoneArray;
		var zoneArrays;
		
		if({{table.seats[0].handSize}} == 5) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}','{{table.seats[0].hand[3]}}','{{table.seats[0].hand[4]}}'];
		else if({{table.seats[0].handSize}} == 4) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}','{{table.seats[0].hand[3]}}'];
		else if({{table.seats[0].handSize}} == 3) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}','{{table.seats[0].hand[2]}}'];
		else if({{table.seats[0].handSize}} == 2) p0handArray = ['{{table.seats[0].hand[0]}}','{{table.seats[0].hand[1]}}'];
		else if({{table.seats[0].handSize}} == 1) p0handArray = ['{{table.seats[0].hand[0]}}'];
		else p0handArray = [];

		if({{table.seats[1].handSize}} == 5) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}','{{table.seats[1].hand[3]}}','{{table.seats[1].hand[4]}}'];
		else if({{table.seats[1].handSize}} == 4) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}','{{table.seats[1].hand[3]}}'];
		else if({{table.seats[1].handSize}} == 3) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}','{{table.seats[1].hand[2]}}'];
		else if({{table.seats[1].handSize}} == 2) p1handArray = ['{{table.seats[1].hand[0]}}','{{table.seats[1].hand[1]}}'];
		else if({{table.seats[1].handSize}} == 1) p1handArray = ['{{table.seats[1].hand[0]}}'];
		else p1handArray = [];

		if({{table.seats[2].handSize}} == 5) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}','{{table.seats[2].hand[3]}}','{{table.seats[2].hand[4]}}'];
		else if({{table.seats[2].handSize}} == 4) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}','{{table.seats[2].hand[3]}}'];
		else if({{table.seats[2].handSize}} == 3) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}','{{table.seats[2].hand[2]}}'];
		else if({{table.seats[2].handSize}} == 2) p2handArray = ['{{table.seats[2].hand[0]}}','{{table.seats[2].hand[1]}}'];
		else if({{table.seats[2].handSize}} == 1) p2handArray = ['{{table.seats[2].hand[0]}}'];
		else p2handArray = [];

		if({{table.seats[3].handSize}} == 5) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}','{{table.seats[3].hand[3]}}','{{table.seats[3].hand[4]}}'];
		else if({{table.seats[3].handSize}} == 4) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}','{{table.seats[3].hand[3]}}'];
		else if({{table.seats[3].handSize}} == 3) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}','{{table.seats[3].hand[2]}}'];
		else if({{table.seats[3].handSize}} == 2) p3handArray = ['{{table.seats[3].hand[0]}}','{{table.seats[3].hand[1]}}'];
		else if({{table.seats[3].handSize}} == 1) p3handArray = ['{{table.seats[3].hand[0]}}'];
		else p3handArray = [];

		handArrays = [p0handArray, p1handArray, p2handArray, p3handArray];
		console.log(handArrays);
		
		p0zoneArray = ['{{table.zones[0][0]}}'];
		p1zoneArray = ['{{table.zones[1][0]}}'];
		p2zoneArray = ['{{table.zones[2][0]}}'];
		p3zoneArray = ['{{table.zones[3][0]}}'];
		centerZoneArray = ['{{table.zones[4][0]}}'];

		zoneArrays = [p0zoneArray, p1zoneArray, p2zoneArray, p3zoneArray, centerZoneArray];
		console.log(zoneArrays);
		
		table = new Table(nameArray, isHumanArray, dealerIndex, handArrays, zoneArrays);
		console.log("onload");
		
	</script>
	{% block body %}

	{% endblock %}
	<br>
	<a href="/">home</a>
	<a href="/get">getCard</a>
	<a href="/pick1">orderUpOrPass</a>
	<a href="/pick2">chooseOrPass</a>
	<form action="/result1" method="post">
		<button name="cardName" type="submit" value="c15">Example result1</button>
	</form>
	<form action="/result2" method="post">
		<button name="cardName" type="submit" value="c15">Example result2</button>
	</form>

	</body>
</html>