{% extends "layout.html" %}
{% block body %}
 
	<script>
		var suitTurnedDown = "{{suitTurnedDown}}";
		var suitArray = ["s","h","d","c"];
		var suitNameArray = ["Spades","Hearts","Diamonds","Clubs"];
		var suitNameTurnedDown = "";
		var index = suitArray.indexOf(suitTurnedDown);
		if (index > -1) 
		{
			suitNameTurnedDown = suitNameArray[index];
			suitArray.splice(index, 1);
			suitNameArray.splice(index, 1);
		}

	</script> 
	<h2 id='instruction'></h2>
	<h3>Dealer: {{table.dealer.name}}</h3>
	<button class='gameplay' id="button0" onclick="post('/pick2', suitArray[0])">button0</button>
	<button class='gameplay' id="button1" onclick="post('/pick2', suitArray[1])">button1</button>
	<button class='gameplay' id="button2" onclick="post('/pick2', suitArray[2])">button2</button>
	<button class='gameplay' onclick="post('/pick2','p')">Pass</button>

	<script>
		$("instruction").innerHTML = suitNameTurnedDown + " turned down, select another suit to be trump or pass";
		$("button0").innerHTML = suitNameArray[0];
		$("button1").innerHTML = suitNameArray[1];
		$("button2").innerHTML = suitNameArray[2];
	</script>

{% endblock %}