<!DOCTYPE html>
<html>
<head>
	<title>Euchre Rules</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/Euchre.png">
    <link rel="stylesheet" href="../static/styles/main.css">
    
</head>
<body style="width: 50%">
<h1>Rules</h1>
<p>
	Rules should be written here
</p>
  <button onclick="goBack()">Go Back</button>
  <script>
	function goBack() {
	    window.history.back();
	}
  </script> 
</body>
<footer>
      &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
</footer>
</html>