<!-- <!DOCTYPE html>
<html>
<head>
	<title>Euchre Rules</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/Euchre.png">
    <link rel="stylesheet" href="../static/styles/main.css">
    
</head>
<body style="width: 50%"> -->

{% extends "layout.html" %}
{% block body %}

<h1>Rules</h1>
<a href="https://en.wikipedia.org/wiki/Euchre"><h2>https://en.wikipedia.org/wiki/Euchre </h2></a>
<br>
<h4>We do not play "stick the dealer".  If trump is not ordered up, the deal is passed and cards are redealt.</h4>

{% endblock %}


<!-- </body>
<footer>
      &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
</footer>
</html> -->