<!DOCTYPE html>
<html>
<head>
	<title>Score</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/Euchre.png">
    <link rel="stylesheet" href="/static/styles/main.css">
    
</head>
<body style="width: 50%">
<h1>High Scores</h1>
<p>
 <table>
			<thead>
    			<tr>
       				 <th>Team</th>
      			     <th>Score</th>
      			</tr>
      	    </thead>
        	<tbody>
  			    <tr>
        			<td >1 and 2</td>
      			    <td></td>
   			    </tr>
   			    <tr>
        			<td>3 and 4</td>
      			    <td></td>
    			</tr>
    		</tbody>
		</table>
		
</p>
  <button onclick="goBack()">Go Back</button>
  <script>
	function goBack() {
	    window.history.back();
	}
  </script> 
</body>
<footer>
      &copy; Copyright 2017 CIS525 Term Project, University of Michigan, Dearborn, Michigan.
</footer>
</html>