/* type selectors */

html {
	background-color: rgb(128,0,32);
}

/*Img in the header*/
header {
	height: 70px;
	width: ;
	padding: 10px 0;
}
 
header img { 
	display:inline-block;
	margin: 0 auto;
	width: 90%;
	height: 90%;
}

p {
	font-size: 75%;
	padding: 0;
	margin: 0;
}

h1{
	font-size: 40px;
	text-align: center;
}

main {
	width: 500px;
	padding: 20px 20px 0 20px;
	float:left;

}
aside {
	position: relative;
	padding: 20px 10px;
	width: 130px;
	height: 500px;
	float:left;
}

#rightside {
	position: relative;
	float: left;
	width: 280px;
	padding: 20px 10px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 1000px;
	height: 90%;
	background-color: rgb(200,200,200);
	margin: 1em auto;
	//padding-top: 1em;
	//border: 5px solid green;
	text-align: center; 

}




/* links design*/

/*a:hover, a:focus { 
	color: blue; 
	font-size: 100%;
	//text-transform:uppercase;
}
a:visited { 
	
	}

a:link { 
	color: white; 
}*/


table {
	/*float: center;*/
	margin: 0 auto;
    /*border: 1px solid black;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 40%;*/
}


/* The styles for the navigation menu - 2tire */
#menu ul {	
	list-style-type: none; 
	position: relative;	
	//left:15%;
	height: 50px;
	margin: 0;
	//padding-bottom:50px;
	padding: 0;
}
#menu ul li { 
	//float: left;
	width: 150px;
	height: 50px;
}

/*design element in nav id=menue*/
#menu ul li a {
	margin: 0 auto;
    text-align: center;  
    padding: 10px 0;   
    text-decoration: none;
    color: black;
    font-weight: bold;
 
}

#menu ul li a:hover, a:focus {

    color: blue;
 
}   

/* design footer */
footer {
	clear: both;
	height: 30px;
	padding: auto;
	margin-bottom: 0;
	text-align:center; 
	color: white;
	font-size: 0.8em;/*changed from 80%, 12.8/16=.8em*/
	background: black;
}

footer p {
	padding: 5px 0;
	font-size: 1em;
}
button {
    background-color: yellow;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width:50%;
    /*margin-left: 25%;*/ 
}

.formError {
  color: red;
}

#leaderboard {
  
}

/* music buttons */
#playbtn {
	padding: 0;
	position:relative;
	height: 24px;
	width: 24px;
	left:50px;
	top: 5px;
	cursor:pointer;
	border: none;
	background: none;
	outline: none;
	display:block;
	margin:0;
/*	padding-top: 5px;
	padding-left: 50px;*/
}

#stopbtn {
	padding: 0;
	position:relative;
	height: 24px;
	width: 24px;
	left:80px;
	top: -19px;
	cursor:pointer;
	border: none;
	background: none;
	outline: none;
	display:block;
	margin:0;
/*	padding-top: 5px;
	padding-left: 50px;*/
}
